*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    background-color: rgb(67, 243, 117);
    text-align: center;
    padding: 20px;
    border-bottom: 4px solid rgb(0, 4, 255);
}
header h1{
    color: rgb(30, 31, 32);

}
.Card{  
    text-align: center;
    width: 30%;
    display: inline-block;
    margin: 15px;
}

.Card h3{
    width: 100%;
    padding-left: 3px;
    font-size: 24px;
    margin-bottom: 5px;
}
.Card .p1{
    font-style: italic;
    margin-bottom: 5px;
}

.Card .p2{
    font-weight: 900;
    margin-bottom: 11px;
    transition: 2s;
}
.Card button{
    width: 90px;
    height: 30px;
    background-color: rgb(229, 189, 189);
    border-radius: 4px;
    cursor: pointer;
    transition: 2s;
    }

.Card button:hover{
    background-color: rgb(141, 81, 81);
    transform: scale(1.5);
}

.Card .p2:hover{
    transform: scale(2);
    
}

#imagem1 {
    background-image: url(../imagens/corona.jpg);
}

#imagem2 {
    background-image: url(../imagens/budweiser.jpg);
}

#imagem3 {
    background-image: url(../imagens/eisenbahn.jpg);
}

#imagem4 {
    background-image: url(../imagens/heineken.jpg);
}

#imagem5 {
    background-image: url(../imagens/notena.jpg);
}

#imagem6 {
    background-image: url(../imagens/imperio.jpg);
}

#imagem7 {
    background-image: url(../imagens/petra.jpg);
}

#imagem8 {
    background-image: url(../imagens/sol.jpg);
}

#imagem9 {
    background-image: url(../imagens/spatem.jpg);

}

#imagem10{
    background-image: url(../imagens/stella.jpg);
}

.cervejas{
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: cover;
    width: 100%;   
    height: 400px;
}

footer{
    width: 100%;
    background-color: rgb(67, 243, 117);
    text-align: left;
    padding: 20px;
    border-top: 4px solid rgb(0, 4, 255);
}
